window {
  background-color: rgba(0, 0, 0, 0.2); /* Сделаем фон менее прозрачным */
}

drawing_area {
  border: 2px solid red; /* Красная рамка вокруг области рисования */
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Добавим слегка видимый белый фон */
  border-radius: 10px; /* Закруглим углы */
}

/* Стиль для GtkBox с id="main_box" */
#main_box {
  padding: 20px; /* Добавим отступы вокруг содержимого */
  background-color: rgba(255, 255, 255, 0.9); /* Легкий белый фон */
  border: 2px dashed blue; /* Синяя пунктирная рамка вокруг бокса */
  border-radius: 15px; /* Закругленные углы */
}
